<script type="text/javascript" src="mdbootstrap-4.18.0/js/jquery.min.js"></script>
<script type="text/javascript" src="mdbootstrap-4.18.0/js/popper.min.js"></script>
<script type="text/javascript" src="mdbootstrap-4.18.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="mdbootstrap-4.18.0/js/mdb.min.js"></script>