<footer class="page-footer-light">
    <hr>
    <p class="d-flex justify-content-center text-muted small">Data fra&nbsp;<a href="https://oslobysykkel.no/apne-data/sanntid">oslobysykkel.no</a></p>
</footer>